.cards {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-top: 47px;
  margin: 0;
  padding: 0;
}

.cards__list-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.cards__image {
  max-width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.cards__description {
  display: flex;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.cards__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 25px 0 25px 20px;
  padding-right: 5px;
}

.cards__title:hover {
  cursor: default;
}

.cards__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  margin-right: 20px;
  padding: 0 10px 0 10px;
}

.cards__like-button_active {
  background-image: url(../images/like-active.svg);
}

.cards__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.cards__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  position: absolute;
  width: 18px;
  height: 19px;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 18px;
  margin-left: 249px;
}

.cards__delete-button:hover {
  opacity: 50%;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .cards__list {
    margin: 0 auto;
    max-width: 100%;
  }
}
