.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  display: flex;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative; /*for modal__close x to be contained within  */
  box-sizing: border-box;
  background-color: white;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  max-height: 330px;
  color: #000000;
  transition: transform 0.5s;
  transform-origin: center;
}

.modal__close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  outline: none;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  transition: opacity 0.2s linear;
}

.modal__heading {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 54px;
  margin: 0;
  width: 100%;
  max-width: 330px;
}

.modal__form {
  flex-direction: column;
  top: 111px;
  max-width: 358px;
  display: flex;
  margin: 0;
}

.modal__input {
  max-width: 100%;
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  margin-bottom: 30px;
}

.modal__input:last-of-type {
  margin-bottom: 48px;
}

.modal__button {
  background-color: #000000;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  max-width: 358px;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  padding: 0;
  cursor: pointer;
}

.modal__image-container {
  position: relative; /*for modal__close x to be contained within  */
  margin: auto;
  padding: 0;
  color: #000000;
}

.modal__image {
  max-width: 74vw;
  max-width: 100%;
  max-height: 75vh;
}

@media screen and (max-width: 630px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 22px;
  }

  .modal__input:last-of-type {
    margin-bottom: 45px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    left: calc(100% - 30px);
    top: -40px;
  }
}

@media screen and (max-width: 320px) {
  .modal__button {
    max-width: 238px;
    height: 46px;
  }

  .modal__heading {
  }
}
