.page {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}

.page__section {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 880px;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 20px;
}

.page__footer {
  max-width: 318px;
  margin-top: 20px;
  margin: 67px 0 60px;
}

.page__footer-note {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
}

@media screen and (min-width: 1280px) {
  .page__footer {
    text-align: inherit;
  }
}

@media screen and (max-width: 745px) {
  .page {
    max-width: 745px;
  }

  .page__footer {
    text-align: inherit;
  }
}

@media screen and (max-width: 480px) {
  .page {
    max-width: 480px;
  }
}

@media screen and (max-width: 320px) {
  .page__section {
    margin: 0 auto;
    padding: 0;
  }

  .page__footer {
    display: flex;
    justify-content: left;
    margin: 48px 20px 36px;
  }

  .page__footer-note {
    font-size: 14px;
  }
}
