.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  margin-top: 45px;
  margin-bottom: 45px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
