.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  margin-top: 45px;
  margin-bottom: 45px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 70%;
}

.page__footer {
  font-family: "inter", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  height: 18px;
  max-width: 318px;
  margin-top: 20px;
}

@media screen and (max-width: 320px) {
  .page__section {
    margin: 0;
    max-width: calc(100vw - 30px);
  }

  .page__content {
    align-items: center;
  }

  .page__footer {
    text-align: inherit;
  }
}

@media screen and (max-width: 480px) {
  .page__section {
    margin: 0 10px;
    max-width: calc(100vw + 30px);
  }

  .page__content {
    align-items: center;
  }

  .page__footer {
    text-align: inherit;
  }
}

@media screen and (max-width: 620px) {
  .page__section {
    max-width: calc(100vw - 30px);
  }
}
