@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css;
@import url(../pages/index.css);
@import url(../blocks/page.css);
@import url(../blocks/card.css);
@import url(../blocks/header.css;
@import url(../blocks/page.css);
@import url(../blocks/profile.css);
@import url(../vendor/fonts.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 480px) {
    .profile {
      flex-direction: column;
      max-width: calc(100%-30px)
    }
    .profile__info {
        display: flex;
        flex-wrap: wrap;
        width:100%;
    }

    .profile__title {
        text-align: center;
    }
  
    .profile__description {
    width:100%;
    text-align: center;
    }

    .profile__add-button {
        margin: 0;
        width:100%;
        
    }


  
  @media screen and (max-width: 320px) {
    .page__section {
        margin: 0 10px;
        margin-top: 56px;  
        max-width: calc(100%-30px)   
    }

    .page__content {
        align-items: center;
    }
 
    .profile {
        flex-direction: column;
      }

    .profile__title {
        text-align: center;
    }
      .profile__info {
          display: flex;
          flex-wrap: wrap;
          width:100%;
      }
    
      .profile__description {
      width:100%;
      text-align: center;
      
      }
  
      .profile__add-button {
          margin: 0;
          width:100%;
          
      }
  
      .footer__copywrite {
        text-align: inherit;
        
      }

};
